packages/
Tools/NuGet/mxtires.microdata.1.0.2.2.nupkg/[Content_Types].xml

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Tools/NuGet/mxtires.microdata.1.0.3.3.nupkg.zip
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/.signature.p7s
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/\[Content_Types\].xml
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/MXTires.Microdata.nuspec
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/_rels/.rels
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/lib/net45/MXTires.Microdata.XML
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/lib/net461/MXTires.Microdata.XML
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/lib/net48/MXTires.Microdata.XML
Tools/NuGet/mxtires.microdata.1.0.3.4.nupkg1/package/services/metadata/core-properties/a5ad0c42a2cb49b9b6ac94c92fc9d3d1.psmdcp
